
@-moz-viewport { width:device-width; scale: 1;}
@-ms-viewport { width:device-width; scale: 1;}
@-o-viewport { width:device-width; scale: 1;}
@-webkit-viewport { width:device-width; scale: 1;}
@viewport { width:device-width; scale: 1;}

html{
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webtext-text-size-adjust:100%;
	text-size-adjust:100%;
	font-family:normal 100%/'Antic', sans-serif;
	background-size: 150px auto;
	color:#38191e;
}

*, *::before, *::after{ 
	box-sizing: inherit;
}



body{
	font-family:'Antic';
	margin:0;
	display: block;
}
header{
	background-color: #a69762;
	font-size: 20px;
	repeat:no no-repeat;
	padding:1em 0;
	margin: 0;
}
.masthead{
	background-image:url("../images/logo.png");
	background-size: 75px auto,75px auto,200px auto;
	padding: 1em;
	background-position: left top, right top, left top;
	margin: 0;
}

.logo{
	width: 10%;
	margin:0;
	display: block;
}

}
.banner{
	position: relative;
	width: 100%;
	margin: 0;
}
.bannerh2{
	color: white;
	position: absolute;
	text-align: center;
	top: 200px;
	left: 10px;
	width: 100%;
}
h1{
	margin: 0;
	color:#38191e;
	font-family:'Antic';
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	bottom: 5%;
	position: relative;
	padding: 0 auto;
}

.nav{
	margin: 0;
	list-style-type:none;
	text-align: center; 
	padding:0;

}
nav ol{
	overflow:hidden;
	margin: 0;
	text-align:center;
	font-size:1em;
}

.nav li{
	display:inline-block;
	float:; left;
	font-size: 50%;

}
.nav a{
	color: black;
	display: block;
	padding:0.75em 1em 0.75em 1em;
	border-radius: 3px;
	text-decoration: none;
	font-size: 16px;
}
.nav a:hover{
	background-color: #444;
	color: white;
}
img{
	width: 100%;
}

h2{
	color: #a69762;
	font-family:'Antic';
	font-size: 1rem;
	text-align: left;
	margin: 0;
	position: relative;
}
h3{
	color: #a02323;
}
.footer{
	color: #38191e;
	text-align: left;
	padding: 1em 1em 0.5em 1em;
	background-color: #a69762;
	display: block;
	font-size: 18px;
	text-decoration: none;
}
ol{
	font-size: 12px;
}
@media only screen and (min-width: 38em){

.banner{
	float:right;
}
h1{
	color: #d8b399;
	font-size: 1rem,
}
h2{
	font-family:'Antic';
	font-size: 1.25rem;
	}

header{
	background-color: #58520c;
	position: absolute;
	bottom: 0;
	width: 100%;
}	

.nav{
	text-align: center;
}
.nav li{
	display: inline-block;
}
.about{}
.logo{}
.title{}
}
@media only screen and (min-width: 60em) {

h1{
	color: #79a6c9;
	text-decoration: underline;
	font-size: 1.5rem;
  }

header{
	background-color: #58520c;
	position: absolute;
}
h2{
	font-family:'Antic';
	font-size: 1.75rem;
}
.bannerh2{
	padding-bottom: 5rem;
	
}	
.nav{
	text-align: center;
	float: left;
	width: 20%;
}
.nav li{
	display: block;
}
.logo{
	float: left;
	width: 20%;
}

.masthead{
	display: none;
	float: left;
}

footer, .masthead{
	display: none;
	float: left; 
	width: 50%;
	color: #38191e;
	text-align: left;
	padding: 1em 1em 0.5em 1em;
	background-color: #a69762;
	display: block;
	font-size: 18px;
	text-decoration: none;
}
ol{
	font-size: 12px;

}
	
}

